svg {
  border: solid 1px #666;
  overflow: hidden;
}

path {
  fill: beige;
  stroke: #000;
  stroke-width: .5px;
}

circle {
  fill: #1f77b4;
  stroke: #000;
  pointer-events: none;
}

circle selected {
  fill: #4f77b4;
}

.first {
  fill: black;
  stroke: black;
}

